.header {
 font-family: roboto, sans-serif;
 font-size: 22px
}

.body {
	background-color: #444444;
	color:#bebebe;
	text-align: center;
}  

.h3 {
	height: 15px;
}

.article {
	font-family: roboto, sans-serif;
	font-size: large;
	
}

.hr {
	border: 5px solid #082c6c;
	border-radius: 100%;
}

img {
	border-radius: 50%;
	max-width: 50%;
	height: 250px;

}

a:link {
	color:#bebebe;
	
}